
.section {
	padding: 2rem 0;
	border-bottom: 1px solid black;
	width: 75rem;
	margin: 0 auto;
}

.button {
	display: table;
	padding: 8px 15px;
	background: #008FC0;
	color: white;
	margin: 0 auto;
	cursor: pointer;
}

h1, p {
	margin: 0.5rem auto;
	text-align: center;
}

#pimple, #iphone {
	max-width: 150px;
	width: 100%;
	margin: 0.5rem auto;
	display: block;

}

.hidden {
	display: none;
}

#iphone.hidden {
	display: none;
}