
body {
	background: #eee;
	font-family: Arial;
}

.section {
	padding: 2rem 1rem;
	border-bottom: 1px solid black;
	width: 75rem;
	margin: 0 auto;
	height: 275px;
}

.section:last-child {
	border: none;
	margin-bottom: 2rem;
}

.button {
	display: table;
	padding: 8px 15px;
	background: #008FC0;
	color: white;
	margin: 1rem auto;
	cursor: pointer;
}

.button:hover {
	opacity: 0.7;
}

h1, p {
	margin: 0.5rem auto;
	text-align: center;
}

img {
	max-width: 150px;
	width: 100%;
	margin: 0.5rem auto;
	display: block;

}

#line {
	max-width: 250px;
}

#niceguy {
	max-width: 100px;
}

#wizard, #wizard2 {
	max-width: 125px;
}

.inline-block {
	display: inline-block;
}



#iphone {
	margin-left: 0;
}

.upsidedown {
	transform: rotate(180deg);
}

.section:nth-child(10).pizazz {
	background-color: pink;
}

.section:nth-child(10).pizazz p {
	font-size: 2rem;
	font-family: 'Butcherman', cursive;
	color: green;
}

.section:nth-child(10).pizazz .button {
	background-color: orange;
}

span.large {
	font-weight: bold;
	font-size: 2rem;
}

#storage {
	display: table;
	border: 1px solid black;
	width: 150px;
	height: 50px;
	margin: 1rem auto;
	text-align: center;
}

#storage p {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}


.hidden {
	display: none;
}